@model DemoWebSite.PagesAndWidgets.Pages.TextPage
@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title (@Model.Alias - @Model.Id) </h2>

@*@if (Model.RegionIds.Any())
{
  <h3>Регионы @String.Join(",", Model.RegionIds)</h3>
}
@if (Model.CultureId.HasValue)
{
  <h3>Культура @Model.CultureId.Value</h3>
}*@

@await Component.RenderZonesInText(Html, Model.Text)

@await Component.WidgetZone(Html, "Content")


