@using QA.DotNetCore.Engine.Widgets

@model DemoNetFrameworkWebApp.Pages.TextPage
@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title (@Model.Alias - @Model.Id) </h2>

@await Component.RenderZonesInText(Html, Model.Text)
<div>
    Ссылка - 
    @Html.ActionLink("link do details", "details", new { id = "some-alias", page = 2, r = 4 })

    @if (!String.IsNullOrWhiteSpace(Model.Picture))
    {
      <img src="@Model.Picture" alt="picture"/>
    }
 </div>

@await Component.WidgetZone(Html, "Content", new { customParameter = 12 })

@await Component.WidgetZone(Html, "RecursiveBelow")
