@model  WebApplication1.PageModel.TextPage
@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title (@Model.Alias - @Model.Id) </h2>
@Model.Text
<div>Ссылка - @Html.ActionLink("link do details", "details", new { id = "some-alias", page = 2, r=4 })</div>