@using Common.Widgets
@using Common.Helpers
@model  Common.PageModel.TextPage
@{
    ViewBag.Title = Model.Title;
}

@*<h2>@Model.Title (@Model.Alias - @Model.Id) </h2>
@Model.Text
<div>Ссылка - <text>@Html.ActionLink("link do details", "details", new { id = "some-alias", page = 2, r = 4 })</text> <br>  @Html.ActionLink("link do details", "details", new { id = "some-alias", page = 2, r = 4 })</div>

@await Component.WidgetZone(Html, "Content", new { customParameter = 12 })*@
