@using QA.DotNetCore.Engine.OnScreen
@using QA.DotNetCore.Engine.Abstractions.OnScreen
@model OnScreenViewModel

<style>
  @@-webkit-keyframes rotate {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }
  @@-moz-keyframes rotate {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }
  @@-o-keyframes rotate {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }
  @@keyframes rotate {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }
</style>

<div id="fakeGear"
     style="
      width: 56px;
      height: 56px;
      top: 30px;
      left: 30px;
      position: fixed;
      display: inline-flex;
      justify-content: center;
      z-index: 10000;
      color: #fff;
      background-color: #303f9f;
      box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
      border-radius: 50%;
      opacity: 0;
      transition: opacity .2s cubic-bezier(0.4, 0, 0.2, 1), visibility .2s cubic-bezier(0.4, 0, 0.2, 1);"
>
  <span style="width: 100%; display: flex; justify-content: center; align-items: center;">
    <svg focusable="false"
         viewBox="0 0 24 24"
         aria-hidden="true"
         style="
          fill: currentColor;
          width: 1em;
          height: 1em;
          display: inline-block;
          font-size: 24px;
          user-select: none;
          animation: rotate 1.5s infinite"
     >
      <path id="icon" d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"/>
    </svg>
  </span>
</div>
<script type="text/javascript">
  (function() {
    var data = localStorage.getItem('persist:root');
    var fakeGear = document.getElementById('fakeGear');
    if (data) {
      var sidebar = JSON.parse(JSON.parse(data).sidebar);
      fakeGear.style.top = sidebar.cords.nodeY + "px";
      fakeGear.style.left = sidebar.cords.nodeX + "px";
    }
    fakeGear.style.opacity = 1;
  }());
</script>
<div id="sidebarplaceholder"></div>
<script type='text/javascript'>
  window.onScreenAdminBaseUrl = '@Model.OnScreenSettings.AdminSiteBaseUrl';
  window.customerCode = '@Model.CustomerCode';
  window.currentPageId = '@Model.AI?.Id';
  window.startPageId = '@Model.StartPage?.Id';
  window.siteId = '@Model.OnScreenSettings.SiteId';
  window.isStage = @Model.OnScreenSettings.IsStage.ToString().ToLower();
  window.onScreenFeatures = '@Model.Ctx.Features';
  window.onScreenTokenCookieName = '@Model.OnScreenSettings.AuthCookieName';
  window.onScreenOverrideAbTestStageModeCookieName = '@Model.OnScreenSettings.OverrideAbTestStageModeCookieName';
</script>

<script src='@(Model.OnScreenSettings.AdminSiteBaseUrl)/dist/pmrpc.js'></script>
<script src='@(Model.OnScreenSettings.AdminSiteBaseUrl)/dist/vendor.js'></script>
<script src='@(Model.OnScreenSettings.AdminSiteBaseUrl)/dist/main.js'></script>

@if (Model.Ctx.HasFeature(OnScreenFeatures.AbTests))
{
  <script src='@(Model.OnScreenSettings.AdminSiteBaseUrl)/dist/cookies.js' defer></script>
  <script src='@(Model.OnScreenSettings.AdminSiteBaseUrl)/dist/onScreenAbTestApi.js' defer></script>
}
